language: ruby

before_script:
- sudo apt-get update
- sudo apt-get install -y openssl build-essential xorg libssl-dev
- wget http://wkhtmltopdf.googlecode.com/files/wkhtmltopdf-0.11.0_rc1-static-amd64.tar.bz2
- tar xvjf wkhtmltopdf-0.11.0_rc1-static-amd64.tar.bz2
- sudo chown root:root wkhtmltopdf-amd64
- sudo mv wkhtmltopdf-amd64 /usr/bin/wkhtmltopdf
- bundle exec rake neo4j:install[community-2.1.3]
- bundle exec rake neo4j:start

script:
- bundle exec rake spec

deploy:
  provider: heroku
  api_key:
    secure: n5s2R+t+PZ/KemXIUCQn6ha0RAP5WSK/IGSBuahnQ4TJ95kDwQXr08Iu9eHVDh/bxN+7uzWORlddxo5Ch9TDsTpl323U7PkCgNPUfYb55OM8GPbnzheQ1l/5Fn1v2555u/Ot0kwdXKkPcDTkBdklf8ujfAb2CzjL+seDfMXUoog=
  run: "rake neo4j:seed"