<div class="form-group inline">
  <label for="firstname" class="control-label">Vorname</label>
  <input type="text" class="form-control" id="firstname" value="<%= person.firstname %>" name="firstname">
</div>
<div class="form-group">
  <label for="lastname" class="control-label">Nachname</label>
  <input type="text" class="form-control" id="lastname" value="<%= person.lastname %>" name="lastname">
</div>
