<a href="/persons/<%= item.id %>"><b><%= item.name %></b></a>
<a id="edit-btn" href="#form" class="btn btn-default btn-xs" >
  <span class="glyphicon glyphicon-pencil"></span>
</a>
<form action="/person/<%= item.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button id="delete-<%= item.id %>" type="submit" class="btn btn-default btn-xs">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</form>
