<form role="form" action="/" method="get">
	<div class="input-group">
  	<input type="search" class="form-control" name="search" value="<%= @search %>">
  	<span class="input-group-btn">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>
  <% if !@search.nil? %>
    <h4><%= !@results.empty? ? 'Treffer' : 'Keine Treffer' %></h4>
    <ul>
      <% @results.each do |node| %>
        <li><%= erb "#{node.labels.first.downcase}/list_item".to_sym, :locals => { :item => node } %></li>
      <% end %>
    </ul>
  <% end %>
</form>
